.recipes {
  color: #fff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  justify-content: center;
  background-image: url("../images/background_recipes.svg");
  background-size: ;
  background-position: relative;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 480x273px;
  list-style-type: none;
}

.recipes__title {
  margin: 0 0 24px;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", "serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 150px 0 0;
}

.recipes__video {
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  margin: 215px;
}

.recipes__iframe {
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
