.page {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  max-width: 1600px;
  min-width: 1100px;
  margin: 0 auto;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin-top: 20px;
}
/* Additional style for when you use Noto Serif */
.serif-font {
  font-family: "Noto Serif", "Times New Roman", serif;
}
